.home-content {
    width: 100vw;
}

.navbar-border-light {
    border-bottom: 1px lightgray solid;
}

.text-title-navbar {
text-decoration: none;
color: #1b4b72;
}

.text-title-navbar:hover {
    text-decoration: none;
}

.google-btn {
    color: white;
    background-color: #1f6fb2;
    font-weight: bold;
}

.google-btn:hover {
    color: white;
    background-color: #386771;
    font-weight: bold;
    text-decoration: none;
}

.color-login-text {
    color: #1b4b72;
}
.color-bottom-row {
    border-bottom: 1px solid rgba(10, 67, 85, 0.7);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}